html {
  background-color: #f4f1de;
  font-family: sans-serif;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

.expanded {
  display: unset;
}

main {
  background-color: f4f1de;
  width: 120ch;
  margin: 0 auto;
  padding: 0 1rem;
}

a {
  padding: 0.2em;
  color: #e07a5f;
}
a:hover,
a:focus {
  color: black;
}
