---
import BaseLayout from '../layouts/BaseLayout.astro'
const pageTitle = 'Hello hello..'
const metaDescription = 'René Mundt, René Mundt is a programmer, software developer, father, husband, cyclist, commuter by train'
---

<BaseLayout pageTitle={pageTitle} metaDescription={metaDescription}>
  <p>my name is René Mundt and I am programmer and have been working with software development since the late 90's.</p>
  <p>
    I live in <a
      href="https://www.google.com/maps/place/4200+Slagelse/data=!4m2!3m1!1s0x464d6162e0d4cdb7:0xbf0409f313af0f00?sa=X&ved=2ahUKEwisvJO0mvWCAxUbSfEDHXuwCDIQ8gF6BAgPEAA"
      target="__blank">Slagelse</a
    > and have been working at <a href="https://dfds.com" target="__blank">DFDS A/S</a> as a web/fullstack developer since 2015.
  </p>
  <p>
    I created this site mainly because of the <a href="/">blog</a> which contains blog posts about programming stuff I haven't been able to
    find solutions to elsewhere on the web.
  </p>
  <p>When not working and programming I spend time with my lovely family or workout in a gym or take my road bike for a spin.</p>
</BaseLayout>
