---
import Navigation from './Navigation.astro'
---

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #3d405b;
  }

  .me {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #f4f1de;
    text-decoration: none;
  }
  .left {
    display: flex;
    flex-direction: row;
    align-items: end;
  }

  .wrapper {
    display: flex;
    align-items: center;
  }
</style>

<header>
  <a class="me" href="/">René Mundt</a>
  <div class="left">
    <div class="wrapper">
      <Navigation />
    </div>
  </div>
</header>
