---
import Navigation from './Navigation.astro'
import ThemeIcon from './ThemeIcon.astro'
---

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }

  .logo {
    display: flex;
  }
  .left {
    display: flex;
    flex-direction: row;
    align-items: end;
  }

  .wrapper {
    display: flex;
    align-items: center;
  }
</style>

<header>
  <div class="logo">My logo goes here</div>
  <div class="left">
    <div class="wrapper">
      <Navigation />
      <ThemeIcon />
    </div>
  </div>
</header>
