---

---

<style>
  .nav-links {
    margin-left: 5em;
    width: auto;
    font-size: 1.2rem;
    font-weight: bold;
    /* text-transform: uppercase; */
  }

  .nav-links a {
    padding: 0.2em;
    text-decoration: none;
    color: #f4f1de;
  }
  .nav-links a:hover,
  .nav-links a:focus {
    background-color: #81b29a;
  }
</style>

<nav class="nav-links">
  <a href="/">Home</a>
  <a href="/archive/">Blogs</a>
  <a href="/about/">About</a>
  <a href="/tags/">Tags</a>
</nav>
